@charset 'utf-8';

[data-ani="fadein__top"]{
	animation: fadein__top 2.5s ease-in-out;
}

@keyframes fadein__top {
    0%{transform:translateY(-80px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}

[data-ani="fadein__bottom"]{
	animation: fadein__bottom 3.5s;
}

@keyframes fadein__bottom {
    0%{transform:translateY(120px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}

[data-ani="fadein"]{
	animation: fadein 1.5s ease-in-out forwards;
}
[ data-ani="fadein_5"]{
	animation: fadein_7 2.5s;
}
[ data-ani="fadein_7"]{
	animation: fadein_7 3s ease-in-out ;
}
@keyframes fadein {
    0%{opacity:0;}
	/* 50%{opacity:.5;transform:translateX(-50%) scale(1.01);} */
    100%{opacity:1;}
}
@keyframes fadein_7 {
    0%{opacity:0;}
    80%{opacity:0;}
	100%{opacity:1;}
}

[data-ani="fadein__bottom2"].control__box{
	animation: fadein__bottom2 1.5s forwards;

}
@keyframes fadein__bottom2 {
    0%{transform:translateY(180px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}


[data-ani="fadein__right"]{
	animation: fadein__right 1.5s ease-in-out;
}
@keyframes fadein__right {
    0%{transform:translateX(100%);opacity:0;}
    100%{transform:translateX(0px);opacity:1;}
}
[data-ani="fadein__right2"]{
	animation: fadein__right 2.5s ease-in-out;
}
