.bg__home.autumn {
  background: url(http://localhost:9100/res/images/leaves_bg.gif) 40% 50%;
  background-size: cover;
  background-color: palegoldenrod;
  animation: fade-in 1s linear forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.control__box.autumn {
  background: rgba(178, 34, 34, 0.6);
  border-radius: 10%;
}