
.bg__home.christmas {
  background: url(http://localhost:9100/res/images/christmas_bg.gif) 50% 50%;
  background-size: cover;
  animation: fadec 1s linear forwards;
}
@keyframes fadec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg__filter.christmas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  transition: opacity 0.5s linear;
}
.button__setting.christmas {
  background-image: url(http://localhost:9100/res/images/icon_sett.png) 50% 50% / 41px
    41px no-repeat;
    fill: firebrick;
}

.info__box--location.christmas {
  border-color: white;
}

.info__box.christmas {
  color: white;
  text-shadow: 2px 2px 2px dimgray;
}

.control__box.christmas {
  background: rgba(0,0,0,0.5);
  border-radius: 10%;
}