@charset 'utf-8';

.wrap {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
}

.bg__home {
  background: url(http://localhost:9100/res/images/home_bg.png) 50% 50% /100% 100%
    no-repeat;
}
.bg__setting {
  background: #524f4f;
}
.bg__wave {
  background: url(http://localhost:9100/res/images/bg_wave.png) 50% 50% /100% 100%
    no-repeat;
}

.button__setting {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 80px;
  height: 80px;
  background: url(http://localhost:9100/res/images/icon_sett.png) 50% 50% / 60px
    60px no-repeat;
}

.gnb {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 110px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.button__back {
  width: 10%;
  height: 80px;
  background: url(http://localhost:9100/res/images/icon_back.png) 50% 50% / 41px
    30px no-repeat;
}
.button__home {
  width: 10%;
  height: 80px;
  background: url(http://localhost:9100/res/images/icon_home.png) 50% 50% / 40px
    40px no-repeat;
}
.button__alert {
  width: 10%;
  height: 80px;
  background: url(http://localhost:9100/res/images/icon_alert.png) 50% 50% /
    34px 38px no-repeat;
}

.info__box {
  position: absolute;
  top: 230px;
  left: 50%;
  width: 380px;
  text-align: center;
  color: #0d2970;
  transform: translateX(-50%);
}
.info__box--time {
  margin-top: 34px;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__box--time .text__xlarge.spoqa__medium {
  margin-left: 30px;
}
.info__box--location {
  margin-top: 40px;
  padding-top: 27px;
  border-top: 1px solid #0d2970;
}
.info__box--location .icon__location {
  vertical-align: top;
}
.location__name {
  margin-left: 15px;
}
.location__weather {
  margin: 0 15px 0 30px;
}

.control__box {
  position: absolute;
  left: 50%;
  bottom: 306px;
  width: 899px;
  height: 909px;
  margin-left: -450px;
  background: url(http://localhost:9100/res/images/control_box.png) 50% 50% /
    100% 100% no-repeat;
  /* border-radius: 60px;
	box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.12);
	background:rgba(255,255,255,.3); */
}

.control__box--info {
  margin: 0 auto;
  padding-top: 73px;
  width: 840px;
  height: 470px;
}
.control__box--inner {
  width: 547px;
  margin: 0 auto;
}
.control__box--inner:last-child {
  border-top: 1px solid #fff;
}
.control__box--flex {
  height: 197px;
  padding: 60px 0;
  color: #fff;
}

.sliderWrap {
  width: 840px;
  margin: 0 auto;
}

.slider__triple--inner {
  float: left;
  width: 33.33%;
  text-align: center;
}

.slider__triple--inner .text__xsmall {
  display: block;
  margin-top: 27px;
  color: #fff;
}

.slider__triple {
  padding-top: 60px;
  height: 394px;
}
.slider__triple .slick-slide {
  padding: 0 20px;
}
.slider__triple .slick-dots {
  bottom: 32px;
}
.slider__triple .slick-dots li,
.slider__triple .slick-dots li button,
.slider__triple .slick-dots li button:before {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.slider__triple .slick-dots li {
  margin: 0 14px;
}
.slider__triple .slick-dots li.active,
.slider__triple .slick-dots li.slick-active button:before {
  width: 22px;
}

/*** 02.setting ***/
.bg__setting .gnb {
  background: #000;
}

.title__box {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__box .spoqa__medium {
  font-size: 80px;
  color: #fff;
}

.menuWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 1080px;
  height: 1920px;
}

.menuWrap.is-open {
  z-index: 5;
  transform: translateX(0);
}

.menu {
  padding: 0 50px;
}
.menu ul li {
  height: 160px;
  border-top: 1px solid #767373;
  color: #fff;
}
.menu ul li:first-child {
  border-top: 0;
}
.menu ul li a {
  height: 160px;
  display: flex;
  align-items: center;
}
.menu ul li a span {
  display: inline-block;
}

/* 03 */
.slider__pages {
  height: 1920px;
}
.bg__wave {
  height: 1902px;
  background: url(http://localhost:9100/res/images/bg_wave.png) 50% 50% / 1080px
    1920px no-repeat;
}

.bg__menu {
  height: 1902px;
  background: url(http://localhost:9100/res/images/bg_menu.png) 50% 50% / 1080px
    1920px no-repeat;
}

.contents__inner {
  padding: 180px 0 0;
}
.cup__control {
  margin: 70px 185px 103px;
  display: flex;
  justify-content: space-between;
}

.slider__pages .slick-prev,
.slider__pages .slick-next {
  width: 60px;
  height: 97px;
  z-index: 1;
}
.slider__pages .slick-prev {
  left: 40px;
  background: url(http://localhost:9100/res/images/slider__pages_left.png) 50%
    50% / 50px 87px no-repeat;
}
.slider__pages .slick-next {
  right: 40px;
  background: url(http://localhost:9100/res/images/slider__pages_right.png) 50%
    50% / 50px 87px no-repeat;
}

.slider__pages .slick-prev.slick-disabled,
.slider__pages .slick-next.slick-disabled {
  opacity: 0;
}
