* {
  margin: 0;
}

.home {
  height: 100%;
  padding-right: 4px;
}

.home__popup {
  display: flex;
  flex-direction: column;
}

.app__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  fill: #c7c7c7;
}

.app__login {
  color: gray;
}

main {
  width: 100vw;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__loginImage {
  width: 250px;
}

.app__login span {
  color: #0095f6;
  cursor: pointer;
}

.app__login h5 {
  text-align: center;
  margin: 5px 0px;
}

footer {
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.app__loginFooter h3 {
  color: #555555;
}

.app__main {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerContainer {
  display: flex;
  max-width: 600px;
}

.app__headerNewButton,
.app__headerAvatar {
  font-size: 0px;
  padding: 8px;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.app__headerImage {
  object-fit: contain;
}
