.main {
  background-color: #fafafa;
}

.main header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 0.312rem 0.625rem;
  border-bottom: 0.062rem solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main header .new_story,
.main header .avatar,
.about__headerback {
  font-size: 0;
  padding: 0.5rem;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.main header .logo {
  object-fit: contain;
  width: 5rem;
}

.main article.hidden {
  opacity: 0;
  height: 80vh;
  overflow: hidden;
}

.main article {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  transition: opacity 1s;
}
