.imageupload {
  display: flex;
  flex-direction: column;
  margin: 0.625rem auto;
}

.imageupload__progress {
  width: 100%;
}

.imageupload__caption {
  border-width: 0.062rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font: 400 0.833rem Arial;
}

.imageupload_previewContainer {
  min-height: 6.25rem;
  max-height: 20rem;
  overflow: hidden;
  border: 0.062rem solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageupload__preview {
  max-width: 18.75rem;
  width: 100%;
  height: auto;
}

.imageupload__loader {
  font-size: 0.833rem;
  margin-top: 0.625rem;
}
