.post {
  background-color: white;
  max-width: 31.25rem;
  border: 1px solid lightgray;
  border-radius: 0.312rem;
  margin-bottom: 2.812rem;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 0.062rem solid lightgray;
  border-bottom: 0.062rem solid lightgray;
}

.post__text {
  font-weight: normal;
}

.post__body {
  padding: 0 1rem;
}

section {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  margin-top: 0.25rem;
}

.post__buttonIcon {
  font-size: 0;
  padding: 0.5rem;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.iconlike {
  margin-left: -0.5rem;
}

.iconsave {
  display: inline-block;
  margin-left: auto;
  margin-right: -0.625rem;
}

.post__likeCount {
  margin-bottom: 0.625rem;
}

.post__comments {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.post__comments p {
  margin-top: 0.312rem;
  margin-bottom: 0.625rem;
}

.post__commentBox {
  border-top: 0.062rem solid lightgray;
  display: flex;
}

.post__input {
  flex: 1;
  border: none;
  padding: 0.625rem;
}

.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  margin: 0 0.25rem;
}
