* {
  margin: 0;
}

.app__loading {
  background-color: white;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #c7c7c7;
}

.animationContainer {
  height: 100%;
}
.circle {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.scale-anim {
  width: max(100vw, 100vh);
  height: max(100vw, 100vh);
  animation: scale 1s ease-in forwards alternate 2;
  z-index: 10;
}
.scale-hole-anim {
  width: max(100vw, 100vh);
  height: max(100vw, 100vh);
  animation: scale 1.5s ease-in forwards, hole 1s ease-in 1.5s forwards;
  z-index: 10;
}
@keyframes scale {
  0% {
    transform: scale(0);
    background-color: #42b5f9;
  }
  100% {
    transform: scale(2.4);
    background-color: #42b5f9;
  }
}
@keyframes hole {
  0% {
    border: #42b5f9 max(50vw, 50vh) solid;
    background-color: transparent;
  }
  100% {
    border: #42b5f9 0 solid;
    background-color: transparent;
  }
}
