* {
  margin: 0;
}

.app__loading {
  background-color: white;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #c7c7c7;
}

.animationContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
.circle {
  position: absolute;
  background: #42b5f9;
  border-radius: 50%;
  /* box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5); */
}
.scale-anim {
  width: 100vh;
  height: 100vh;
  animation: 1s ease-in alternate scale;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  z-index: 10;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2.4);
  }
}
